service cloud.firestore {
  // Anonymasユーザーではない
  function isAuthUser() {
    return request.auth != null;
  }
  // リクエストしているuidと同一か
  function isAuthor(uid) {
    return uid == request.auth.uid;
  }

  match /databases/{database}/documents {
    match /users/{uid} {
      // 少なくともエミュではなぜかトランザクション中でのupdateだとisAuthUser()がtrueにならないので一旦if trueにしておく
      allow read, write: if true;
      // allow read, write: if isAuthUser();

      match /private/login {
        allow read: if isAuthor(uid);
        allow create, update: if isAuthor(uid) && loginValidation(request.resource.data);
        allow delete: if false;
      }
      function loginValidation(data) {
        return
          data.keys().hasAll(['num', 'lastDate']) && // 送られたデータにnum, lastDateのキーを両方含む
          data.num >= 0
      }
    }
  }
}