rules_version = '2';
service cloud.firestore {
  // Anonymasユーザーではない
  function isAuthUser() {
    return request.auth != null;
  }
  // リクエストしているuidと同一か
  function isAuthor(uid) {
    return uid == request.auth.uid;
  }

  match /databases/{database}/documents {
    match /restaurants/{restaurantId} {
      allow read: if isAuthUser();
      allow write: if false;

      match /reviews/{uid} {
        allow read: if isAuthUser();
        allow create: if isAuthUser() &&
          isAuthor(uid) &&
          request.resource.data.rate >= 1 &&
          request.resource.data.rate <= 5 &&
          request.resource.data.updatedAt == request.time;
      }
    }
  }
}